[submodule "native/zcash-sync"]
	path = native/zcash-sync
	url = ssh://gitea@gitea.cryptoblog21.xyz:2200/hanh/zcash-sync.git
[submodule "native/zcash-params"]
	path = native/zcash-params
	url = ssh://gitea@gitea.cryptoblog21.xyz:2200/hanh/zcash-params.git
