.icon {
    width: 25px;
    height: 25px;
    padding-top: 2px;
    margin-bottom: -4px;
    margin-right: 0.5em;
    display: inline-block;
}

.download-badge {
    height: 40px !important;
}

.img {  
    width: 450px;
    height: 800px;
}
